<article class="box-thumbnail__article {{ thumbnail.style }}{{ random(["lightpink", "lightblue", "green", "pink", "purple", "blue"]) }}">
  <span class="box-thumbnail__span">
    <img class="box-thumbnail__image" src="{{ thumbnail.image }}" alt="{{ thumbnail.alt }}">
  </span>
  <a class="box-thumbnail__link" href="#">
    <h2 class="box-thumbnail__title">{{ thumbnail.title }}</h2>
    <div class="box-thumbnail__content">
      <p>{{ thumbnail.content }}</p>
    </div>
  </a>
</article>